<footer class="navbar">
    <div class="float-left bg-danger">
        <a routerLink='/home'>© 2020 Amirtha</a>
    </div>

    <nav class="navbar navbar-expand-md bg-success text-center">
        <ul class="navbar-nav">    
            <li class="nav-item"><a class="nav-link" routerLink='/home'>Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/about'>About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/portfolio'>Portfolio</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='/contact'>Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="" aria-label="GitHub"><i class="fa fa-github" style="font-size:24px"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="" aria-label="LinkedIn"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="mailto:amirtha4501@gmail.com" aria-label="Mail"><i class="fa fa-envelope-o" style="font-size:24px"></i></a></li>
        </ul>
    </nav>

	<div class="gradient-white">
		<a class="top" href="#top">back to top</a>
	</div>

</footer>
