<app-header></app-header>

<section class="container-fluid pt-5 mt-4 card">
    <!-- About -->
    <div class="mt-5"></div>
    <div class="text-center">
        <h1>
            <a class="typewrite" data-period="2000" data-type='[ "About me!" ]'>
                <span class="wrap"></span>
            </a>
        </h1>    
    </div>      

    <div class="mt-5"></div>
    <section class="row">
        <aside class="col-sm-5">
            <div class="part">
                <div class="dodeca">
                    <div class="dode1">
                        <div class="dode2">
                            <img src="assets/images/ammuIV.jpeg" width="100%" alt=""/>
                        </div>
                    </div>
                </div>
            </div> 
                     
        </aside>
        <aside class="col-sm-6">
            <div class="container">
                <div class="card container">
                    <h3 class="text-secondary p-2">Who am I?</h3>
                    <br>
                    <div class="container p-2">
                        <h6>I'm a Full-stack developer based in Coimbatore, India.</h6>
                        <p>
                            Currently, majoring in Computer Science and Engineering in <a href="https://www.kpriet.ac.in/" target="_blank" class="text-decoration-none">KPR Institute of Engineering and Technology</a>, Coimbatore. 
                            I'm the person who enjoys to solve the complex tasks...
                        </p>
                        <p>
                            Currently, majoring in Computer Science and Engineering in <a href="https://www.kpriet.ac.in/" target="_blank" class="text-decoration-none">KPR Institute of Engineering and Technology</a>, Coimbatore. 
                            I'm the person who enjoys to solve the complex tasks...
                        </p>
                        Wanna get in touch or talk about a project?
                        Feel free to contact me via email at 
                        amirtha4501@gmail.com

                        or drop a line in the form at the 
                        contact page
                    </div>
                </div>
            </div>
        </aside>
    </section>

    <!-- Skills Barchart -->
    <div>
        <br>
        <h3 class="text-secondary">Skills</h3>
        <br>
    </div>
    <section class="row ">
        <aside class="col-sm-6">
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 85%">
                    <h6 class="text-white text-left pl-2">HTML</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">85%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 80%">
                    <h6 class="text-white text-left pl-2">CSS</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">80%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 75%">
                    <h6 class="text-white text-left pl-2">JavaScript</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">75%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 70%">
                    <h6 class="text-white text-left pl-2">Angular</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">70%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: 60%">
                    <h6 class="text-white text-left pl-2">Flask</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">60%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 70%">
                    <h6 class="text-white text-left pl-2">NodeJS</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">70%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: 40%">
                    <h6 class="text-white text-left pl-2">Java</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">40%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: 20%">
                    <h6 class="text-white text-left pl-2">PHP</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">20%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 80%">
                    <h6 class="text-white text-left pl-2">Git</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">80%</span>
            </div>
            <br>
            <div class="progress mb-4">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 65%">
                    <h6 class="text-white text-left pl-2">PostgreSQL</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">65%</span>
            </div>
        </aside>
        <aside class="bg- col-sm-6 ">
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 70%">
                    <h6 class="text-white text-left pl-2">MySQL</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">70%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 80%">
                    <h6 class="text-white text-left pl-2">Bootstrap</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">80%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: 60%">
                    <h6 class="text-white text-left pl-2">JQuery</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">60%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 75%">
                    <h6 class="text-white text-left pl-2">TypeScript</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">75%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 65%">
                    <h6 class="text-white text-left pl-2">Python</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">65%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 80%">
                    <h6 class="text-white text-left pl-2">NestJS</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">80%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: 40%">
                    <h6 class="text-white text-left pl-2">C</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">40%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: 20%">
                    <h6 class="text-white text-left pl-2">AWS</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">20%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-warning" role="progressbar" style="width: 50%">
                    <h6 class="text-white text-left pl-2">Heroku</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">50%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 70%">
                    <h6 class="text-white text-left pl-2">SQLite</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">70%</span>
            </div>
        </aside>
    </section>

</section>


<app-footer></app-footer>