<!-- ==== Header ================================================================================================== -->

<nav class="navbar fixed-top navbar-expand-md container-fluid main-header pt-0 pb-0">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="assets/images/am_logo.jpg" width="75" class="img-responsive d-inline-block rounded" alt="">
        </a>
    </div>    
    
    <button class="navbar-toggler rounded" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="collapsibleNavbar">      
        <ul class="navbar-nav ml-auto">    
            <li class="nav-item"><a class="nav-link" href='#about'>About</a></li>
            <li class="nav-item"><a class="nav-link" href='#project'>Project</a></li>
            <li class="nav-item"><a class="nav-link" href='#experience'>Experience</a></li>
            <li class="nav-item"><a class="nav-link" href='#contact'>Contact</a></li>
            <li class="nav-item"><a class="nav-link" href='https://docs.google.com/gview?url=https://github.com/amirtha4501/Portfolio/raw/master/AmirthaResume.pdf&embedded=true' target="_blank">Resume</a></li>
        </ul>
    </div>
</nav>

<!-- Side Nav ===================================================================================================== -->

<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-1 sidebar text-center">
            <ul class="navbar-nav nav-sidebar col-6 mx-auto border rounded p-1">
                <li class="active">
                    <a class="nav-link" href="mailto:amirtha4501@gmail.com" target="_blank" title="Mail">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="https://github.com/amirtha4501" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="https://www.linkedin.com/in/amirtha-easwaran-11348618a/" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="https://api.whatsapp.com/send?phone=919095999111" target="_blank" title="Whatsapp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- ==== Home ==================================================================================================== -->

<section id="home" class="mt-5">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="rounded p-3 m-2">
                <h1 class="text-white text-center ">Welcome to Amirtha<small>'s</small> Website!</h1>
                <h3 class="text-white text-center">A Full-stack web developer</h3>
                <div class="container mt-5 col-10">
                    <p class="lang text-white">
                       <strong> I'm Amirtha, a Full-stack developer who has a passion for creating intitutive 
                        dynamic user experiences.</strong>
                    </p>
                    <p class="lang text-white">
                        <strong>Let's look at my latest projects on the web portfolio page.</strong>
                    </p>
                </div>
                <span class="icons mt-5" id="touch-button">
                    <br><br>
                    <a class="nav-link text-center" href="https://api.whatsapp.com/send?phone=919095999111" target="_blank" title="Whatsapp">
                        <i class="text-white btn-icons rounded p-1 pl-2 pr-2"><strong><small>Get in touch</small></strong></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>

<!-- ==== About =================================================================================================== -->

<section class="container pt-5 mt-5 about" id="about">
    <div>
        <br><br><br>
    </div>
    <div class="text-center">
        <h1>
            <a class="typewrite" data-period="2000" data-type='[ "About me!" ]'>
                <span class="wrap"></span>
            </a>
        </h1>    
    </div>      

    <div class="mt-5"></div>
    <section class="row">
        <aside class="col-sm-5 profile text-center">
            <img src="assets/images/ammu.jpg" class="rounded-circle" width="" alt=""/>
            <br><br><br>      
        </aside>
        <aside class="col-sm-6">
            <div class="container">
                <div class="card container">
                    <h3 class="text-secondary p-2">Who am I?</h3>
                    <br>
                    <div class="container p-2 lang">
                        <p class="mt-1">
                            I'm a Full-stack developer and Networking aspirant based in Bangalore, India.
                        <!-- </p>
                        <p class="mt-1"> -->
                            Currently, pursuing Computer Science and Engineering in <strong><a href="https://www.kpriet.ac.in/" target="_blank" class="topic">KPR Institute of Engineering and Technology</a></strong>, Coimbatore. 
                        </p>
                        <p class="mt-1">
                            I would love to blend the art of design with the skill of programming to deliver an aesthetic and engaging user experience.
                        </p>
                    </div>
                </div>
            </div>
        </aside>
    </section>

    <!-- Skills Barchart -->
    <div>
        <br>
        <h3 class="text-secondary mt-5">Skills</h3>
        <br>
    </div>
    <section class="row ">
        <aside class="col-sm-6">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%">
                    <h6 class="text-white text-left pl-2 pt-1">HTML</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">85%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%">
                    <h6 class="text-white text-left pl-2 pt-1">CSS / Bootstrap</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">80%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%">
                    <h6 class="text-white text-left pl-2 pt-1">JavaScript / jQuery</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">75%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%">
                    <h6 class="text-white text-left pl-2 pt-1">TypeScript / Angular</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">75%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%">
                    <h6 class="text-white text-left pl-2 pt-1">Python / Flask</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">65%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                    <h6 class="text-white text-left pl-2 pt-1">PostgreSQL / MySQL</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">70%</span>
            </div>
            <br>
        </aside>

        <aside class="col-sm-6 ">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%">
                    <h6 class="text-white text-left pl-2 pt-1">NodeJS / NestJS</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">80%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 40%">
                    <h6 class="text-white text-left pl-2 pt-1">Java</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">40%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%">
                    <h6 class="text-white text-left pl-2 pt-1">Git</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">80%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 20%">
                    <h6 class="text-white text-left pl-2 pt-1">AWS</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">20%</span>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%">
                    <h6 class="text-white text-left pl-2 pt-1">Heroku</h6>
                </div>
                <span class="ml-auto pr-2 font-italic">50%</span>
            </div>
            <br>
        </aside>
    </section>

</section>

<!-- ==== Project ================================================================================================= -->

<section id="project">

    <div class="container">
        <br><br><br><br>
        <div class="row mt-5 mb-5 justify-content-center">
            <h2><strong>PROJECTS</strong></h2>
        </div>
              
        <!-- Task Manager -->
        <div class="row mt-3">
            <div class="col-lg-6 mt-5 mb-5 h-100">
                <div class="project-img h-50">
                    <img src="assets/images/projectImg/tmtask.png" class="img-responsive card-img-top rounded" alt="" style="height: 290px;">
                    <div class="project-content">
                        <h3 class="title"></h3>
                        <h3 class="head"><strong>TASK MANAGER</strong></h3>
                        <ul class="view">
                            <a class="btn btn-default" data-target="#taskmanagerModal" data-toggle="modal">
                                <div class="border view-btn rounded p-2">View More</div>
                            </a>
                        </ul>
                    </div>
                </div> 
            </div>       
            <div class="content col-lg-6 my-auto card container p-4">
                <h4 class="text-center topic">Task Manager</h4>
                <p>A web application that manages all aspects of a task, such as its
                    status, description and priority to the time spent.</p>
                <code>HTML | CSS | React | NestJS | PostgreSQL</code>
                <span class="icons row ml-auto">
                    <a class="nav-link" href="https://github.com/amirtha4501/TaskManagerBackend" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link" href="https://amirtha4501.github.io/TaskManager/" target="_blank" title="GitHub">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </span>
            </div>         
        </div>

        <!-- Finance Manager -->
        <div class="row mt-3">
            <div class="content col-lg-6 my-auto card container p-4">
                <h4 class="text-center topic">FinanceManager</h4>
                <p>A web application that calculates the transfer and transaction of the user along with the category.</p>
                <code>HTML | CSS | Bootstrap | Angular | NestJS | PostgreSQL</code>
                <span class="icons row ml-auto">
                    <a class="nav-link" href="https://github.com/amirtha4501/FinanceManager" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link" href="https://financemanager.amirtha.ml" target="_blank" title="GitHub">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </span>
            </div>
            <div class="col-lg-6 mt-5 mb-5 h-100">
                <div class="project-img h-50">
                    <img src="assets/images/projectImg/finance_desktop.png" class="img-responsive card-img-top rounded" alt="" style="height: 290px;">
                    <div class="project-content">
                        <h3 class="title"></h3>
                        <h3 class="head"><strong>FINANCE MANAGER</strong></h3>
                        <ul class="view">
                            <a class="btn btn-default" data-target="#financeModal" data-toggle="modal">
                                <div class="border view-btn rounded p-2">View More</div>
                            </a>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>

        <!-- Matrimony -->
        <div class="row mt-3">
            <div class="col-lg-6 mt-5 mb-5 h-100">
                <div class="project-img h-50">
                    <img src="assets/images/projectImg/home.png" class="img-responsive card-img-top rounded" alt="" style="height: 290px;">
                    <div class="project-content">
                        <h3 class="title"></h3>
                        <h3 class="head"><strong>MATRIMONY</strong></h3>
                        <ul class="view">
                            <a class="btn btn-default" data-target="#matriModal" data-toggle="modal">
                                <div class="border view-btn rounded p-2">View More</div>
                            </a>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="content col-lg-6 my-auto card container p-4">
                <h4 class="text-center topic">
                    Matrimony 
                </h4>
                <p>A matrimonial website that involves viewing
                    the details of the registered bride and groom.</p>
                <code>HTML | CSS | JS | Bootstrap | Angular | NestJS | PostgreSQL</code>
                <span class="icons row ml-auto">
                    <a class="nav-link" href="https://github.com/amirtha4501/Matrimony" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link" href="https://matrimony.amirtha.ml" target="_blank" title="GitHub">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </span>
            </div>
        </div>
        
        <!-- Restaurant -->
        <div class="row mt-3">
            <div class="content col-lg-6 my-auto card container p-4">
                <h4 class="text-center topic">Restaurant</h4>
                <p>A course project which manage the multi-cuisine restaurant dishes and feedbacks.</p>
                <code>HTML | CSS | Material Bootstrap | Angular</code>
                <span class="icons row ml-auto">
                    <a class="nav-link" href="https://github.com/amirtha4501/RestaurantMaster" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link" href="https://restaurantmaster.amirtha.ml" target="_blank" title="GitHub">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </span>
            </div>
            <div class="col-lg-6 mt-5 mb-5 h-100">   
                <div class="project-img h-50">
                    <img src="assets/images/projectImg/restaurant_home.png" class="img-responsive card-img-top rounded" alt="" style="height: 290px;">
                    <div class="project-content">
                        <h3 class="title"></h3>
                        <h3 class="head"><strong>RESTAURANT</strong></h3>
                        <ul class="view">
                            <a class="btn btn-default" data-target="#restaurantModal" data-toggle="modal">
                                <div class="border view-btn rounded p-2">View More</div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Github Browser -->
        <div class="row mt-3">
            <div class="col-lg-6 mt-5 mb-5 h-100">
                <div class="project-img h-50">
                    <img src="assets/images/projectImg/gb_dashboard.png" class="img-responsive card-img-top rounded" alt="" style="height: 290px;">
                    <div class="project-content">
                        <h3 class="title"></h3>
                        <h3 class="head"><strong>GITHUB BROWSER</strong></h3>
                        <ul class="view">
                            <a class="btn btn-default" data-target="#gbModal" data-toggle="modal">
                                <div class="border view-btn rounded p-2">View More</div>
                            </a>
                        </ul>
                    </div>
                </div> 
            </div>       
            <div class="content col-lg-6 my-auto card container p-4">
                <h4 class="text-center topic">Github Browser</h4>
                <p>A web application that fetch the repositories of users or organizations accordingly.</p>
                <code>HTML | CSS | Bootstrap | Angular</code>
                <span class="icons row ml-auto">
                    <a class="nav-link" href="https://github.com/amirtha4501/GithubBrowser" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link" href="https://githubbrowser.amirtha.ml" target="_blank" title="GitHub">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </span>
            </div>         
        </div>

        <!-- Math Master -->
        <div class="row mt-3">
            <div class="content col-lg-6 my-auto card container p-4">
                <h4 class="text-center topic">MathMaster</h4>
                <p>A simple math game with Addition, Subtraction, Multiplication, Division and Random operations</p>
                <code>HTML | CSS | Bootstrap | Angular</code>
                <span class="icons row ml-auto">
                    <a class="nav-link" href="https://github.com/amirtha4501/MathMaster" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link" href="https://mathmaster" target="_blank" title="GitHub">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </span>
            </div>
            <div class="col-lg-6 mt-5 mb-5 h-100">
                <div class="project-img h-50">
                    <img src="assets/images/projectImg/math_home.png" class="img-responsive card-img-top rounded" alt="" style="height: 290px;">
                    <div class="project-content">
                        <h3 class="title"></h3>
                        <h3 class="head"><strong>MATH MASTER</strong></h3>
                        <ul class="view">
                            <a class="btn btn-default" data-target="#mathModal" data-toggle="modal">
                                <div class="border view-btn rounded p-2">View More</div>
                            </a>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>

    </div>
    
    
 <!-- Project Modal  -->
    
    <div class="modal fade" id="matriModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header p-0 border-0">
    
                    <div class="carousel slide" data-ride="carousel" id="slider">
                        <ol class="carousel-indicators">
                            <li data-target="#slider" data-slide-to="0" class="active"></li>
                            <li data-target="#slider" data-slide-to="1"></li>
                            <li data-target="#slider" data-slide-to="2"></li>
                            <li data-target="#slider" data-slide-to="3"></li>
                            <li data-target="#slider" data-slide-to="4"></li>
                            <li data-target="#slider" data-slide-to="5"></li>
                            <li data-target="#slider" data-slide-to="6"></li>
                        </ol>
                        <div class="carousel-inner card">
                            <div class="carousel-item active">
                                <img src="assets/images/projectImg/home.png" class="card-img-top rounded img-fluid" alt="No images available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/about.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/profiles.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/payments.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/profiledetail.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/register.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/login.png" class="card-img-top rounded img-fluid" alt="No image 3 available">
                            </div>
                        </div>
                        <a href="#slider" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="#slider" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h3 class="text-primary">RajaRoja Matrimony</h3>
                    <p>A matrimonial website that involves viewing the details of the registered bride and groom.</p>
                    <span class="row justify-content-center">
                        <code class="ml-4 lang">
                            HTML
                        </code>
                        <code class="ml-4 lang">
                            CSS
                        </code>
                        <code class="ml-4 lang">
                            JS
                        </code>
                        <code class="ml-4 lang">
                            Bootstrap
                        </code>
                        <code class="ml-4 lang">
                            Angular
                        </code>
                        <code class="ml-4 lang">
                            jQuery                        
                        </code>
                        <code class="ml-4 lang">
                            NestJS
                        </code>
                        <code class="ml-4 lang">
                            Postgres
                        </code>
                    </span>
                </div>
                <div class="modal-footer p-0">
                    <span class="row pr-3">
                        <span class="icons">
                            <a class="nav-link" href="https://github.com/amirtha4501/Matrimony" target="_blank" title="GitHub">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        <span class="icons">
                            <a class="nav-link" href="https://matrimony.amirtha.ml" target="_blank" title="GitHub">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </span>
                        <span data-dismiss="modal" class="icons">
                            <a class="text-secondary nav-link close">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="financeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header p-0 border-0">
                    <div class="carousel slide" data-ride="carousel" id="slider2">
                        <ol class="carousel-indicators">
                            <li data-target="#slider2" data-slide-to="0" class="active bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="1" class="bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="2" class="bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="3" class="bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="4" class="bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="5" class="bg-secondary"></li>
                        </ol>
                        <div class="carousel-inner card">
                            <div class="carousel-item active">
                                <img src="assets/images/projectImg/finance_auth.png" class="card-img-top rounded img-fluid" alt="No images available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/finance_desktop.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/finance_nav.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/finance_chart.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/finance_graph.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/finance_notifications.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                        </div>
                        <a href="#slider2" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="#slider2" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h3 class="text-primary">Finance Manager</h3>
                    <p>A web application that is to manage income, expense and other related stuffs of the user.</p>
                    <span class="row justify-content-center">
                        <code class="ml-4 lang">
                            HTML
                        </code>
                        <code class="ml-4 lang">
                            CSS
                        </code>
                        <code class="ml-4 lang">
                            Bootstrap
                        </code>
                        <code class="ml-4 lang">
                            Angular
                        </code>
                        <code class="ml-4 lang">
                            NestJS
                        </code>
                        <code class="ml-4 lang">
                            PostgreSQL
                        </code>
                    </span>
                </div>
                <div class="modal-footer p-0">
                    <span class="row pr-3">
                        <span class="icons">
                            <a class="nav-link" href="https://github.com/amirtha4501/FinanceManager" target="_blank" title="GitHub">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        <span class="icons">
                            <a class="nav-link" href="https://financemanager.amirtha.ml" target="_blank" title="GitHub">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </span>
                        <span data-dismiss="modal" class="icons">
                            <a class="text-secondary nav-link close">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="gbModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header p-0 border-0">
                    <div class="carousel slide" data-ride="carousel" id="slider3">
                        <ol class="carousel-indicators">
                            <li data-target="#slider3" data-slide-to="0" class="active bg-secondary"></li>
                            <li data-target="#slider3" data-slide-to="1" class="bg-secondary"></li>
                            <li data-target="#slider3" data-slide-to="2" class="bg-secondary"></li>
                        </ol>
                        <div class="carousel-inner card">
                            <div class="carousel-item active">
                                <img src="assets/images/projectImg/gb_dashboard.png" class="card-img-top rounded img-fluid" alt="No images available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/gb_org.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/gb_user.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                        </div>
                        <a href="#slider3" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="#slider3" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h3 class="text-primary">GitHub Browser</h3>
                    <p>A web application that fetch the repositories of users or organizations accordingly.</p>
                    <span class="row justify-content-center">
                        <code class="ml-4 lang">
                            HTML
                        </code>
                        <code class="ml-4 lang">
                            CSS
                        </code>
                        <code class="ml-4 lang">
                            Bootstrap
                        </code>
                        <code class="ml-4 lang">
                            Angular
                        </code>
                    </span>
                </div>
                <div class="modal-footer p-0">
                    <span class="row pr-3">
                        <span class="icons">
                            <a class="nav-link" href="https://github.com/amirtha4501/GithubBrowser" target="_blank" title="GitHub">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        <span class="icons">
                            <a class="nav-link" href="https://githubbrowser.amirtha.ml" target="_blank" title="GitHub">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </span>
                        <span data-dismiss="modal" class="icons">
                            <a class="text-secondary nav-link close">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="restaurantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header p-0 border-0">
                    <div class="carousel slide" data-ride="carousel" id="slider4">
                        <ol class="carousel-indicators">
                            <li data-target="#slider4" data-slide-to="0" class="active bg-secondary"></li>
                            <li data-target="#slider4" data-slide-to="1" class="bg-secondary"></li>
                            <li data-target="#slider4" data-slide-to="2" class="bg-secondary"></li>
                            <li data-target="#slider4" data-slide-to="3" class="bg-secondary"></li>
                            <li data-target="#slider4" data-slide-to="4" class="bg-secondary"></li>
                        </ol>
                        <div class="carousel-inner card">
                            <div class="carousel-item active">
                                <img src="assets/images/projectImg/restaurant_home.png" class="card-img-top rounded img-fluid" alt="No images available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/restaurant_about.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/restaurant_menu.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/restaurant_item.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/restaurant_contact.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                        </div>
                        <a href="#slider4" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="#slider4" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h3 class="text-primary">Restaurant</h3>
                    <p>A web application which manages the multi-cuisine dishes and the feedbacks of the users.</p>
                    <span class="row justify-content-center">
                        <code class="ml-4 lang">
                            HTML
                        </code>
                        <code class="ml-4 lang">
                            SCSS
                        </code>
                        <code class="ml-4 lang">
                            Material Bootstrap
                        </code>
                        <code class="ml-4 lang">
                            Angular
                        </code>
                    </span>
                </div>
                <div class="modal-footer p-0">
                    <span class="row pr-3">
                        <span class="icons">
                            <a class="nav-link" href="https://github.com/amirtha4501/RestaurantMaster" target="_blank" title="GitHub">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        <span class="icons">
                            <a class="nav-link" href="https://restaurantmaster.amirtha.ml" target="_blank" title="GitHub">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </span>
                        <span data-dismiss="modal" class="icons">
                            <a class="text-secondary nav-link close">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="taskmanagerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header p-0 border-0">
                    <div class="carousel slide" data-ride="carousel" id="slider5">
                        <ol class="carousel-indicators">
                            <li data-target="#slider5" data-slide-to="0" class="active bg-secondary"></li>
                            <li data-target="#slider5" data-slide-to="1" class="bg-secondary"></li>
                            <li data-target="#slider5" data-slide-to="2" class="bg-secondary"></li>
                        </ol>
                        <div class="carousel-inner card">
                            <div class="carousel-item active">
                                <img src="assets/images/projectImg/tmsignin.png" class="card-img-top rounded img-fluid" alt="No images available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/tmcreate.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/tmtask.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                        </div>
                        <a href="#slider5" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="#slider5" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h3 class="text-primary">Task Manager</h3>
                    <p>A web application that create, update, delete the to do list.</p>
                    <span class="row justify-content-center">
                        <code class="ml-4 lang">
                            HTML
                        </code>
                        <code class="ml-4 lang">
                            CSS
                        </code>
                        <code class="ml-4 lang">
                            React
                        </code>
                        <code class="ml-4 lang">
                            NestJS
                        </code>
                        <code class="ml-4 lang">
                            PostgreSQL
                        </code>
                    </span>
                </div>
                <div class="modal-footer p-0">
                    <span class="row pr-3">
                        <span class="icons">
                            <a class="nav-link" href="https://github.com/amirtha4501/TaskManager" target="_blank" title="GitHub">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        <span class="icons">
                            <a class="nav-link" href="https://taskmanager.amirtha.ml" target="_blank" title="GitHub">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </span>
                        <span data-dismiss="modal" class="icons">
                            <a class="text-secondary nav-link close">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mathModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header p-0 border-0">
                    <div class="carousel slide" data-ride="carousel" id="slider2">
                        <ol class="carousel-indicators">
                            <li data-target="#slider2" data-slide-to="0" class="active bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="1" class="bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="2" class="bg-secondary"></li>
                            <li data-target="#slider2" data-slide-to="3" class="bg-secondary"></li>
                        </ol>
                        <div class="carousel-inner card">
                            <div class="carousel-item active">
                                <img src="assets/images/projectImg/math_home.png" class="card-img-top rounded img-fluid" alt="No images available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/math_fail.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/math_success.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/projectImg/math_good.png" class="card-img-top rounded img-fluid" alt="No image available">
                            </div>
                        </div>
                        <a href="#slider2" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="#slider2" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h3 class="text-primary">Math Master</h3>
                    <p>A simple math game with Addition, Subtraction, Multiplication, Division and Random operations.</p>
                    <span class="row justify-content-center">
                        <code class="ml-4 lang">
                            HTML
                        </code>
                        <code class="ml-4 lang">
                            CSS
                        </code>
                        <code class="ml-4 lang">
                            Bootstrap
                        </code>
                        <code class="ml-4 lang">
                            Angular
                        </code>
                    </span>
                </div>
                <div class="modal-footer p-0">
                    <span class="row pr-3">
                        <span class="icons">
                            <a class="nav-link" href="https://github.com/amirtha4501/MathMaster" target="_blank" title="GitHub">
                                <i class="fab fa-github"></i>
                            </a>
                        </span>
                        <span class="icons">
                            <a class="nav-link" href="https://MathMaster.amirtha.ml" target="_blank" title="GitHub">
                                <i class="fas fa-external-link-alt"></i>
                            </a>
                        </span>
                        <span data-dismiss="modal" class="icons">
                            <a class="text-secondary nav-link close">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- ==== Experience ============================================================================================== -->

<section class="mb-5" id="experience">
    <div class="container">
        <br><br><br><br>
        <div class="row mt-5 mb-5 justify-content-center">
            <h2><strong>EXPERIENCE</strong></h2>
        </div>

        <div class="container-fluid h-100 lang">
            <div class="row h-100">
                <aside class="col-12 col-md-2 p-0">
                    <nav class="navbar navbar-expand flex-md-column flex-row align-items-start exp-nav">
                        <div class="collapse navbar-collapse">
                            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                                <li class="nav-item active">
                                    <a class="nav-link pl-2 rounded-right" (click)="expNav(1)">Student</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-2 rounded-right" (click)="expNav(2)">Developer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-2 rounded-right" (click)="expNav(3)">Work</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </aside>
                
                <main class="col">
                    <section *ngIf="val == 1">
                        <div class="card border-0">
                            <div class="container col-11">
                                <h3 class="topic p-2"><strong>Student</strong></h3>
                                <ul class="bulletin">
                                    <li class="p-2">
                                        As a Representative of my batch, I've been motivating and pulling up my colleagues towards success.
                                    </li>
                                    <li class="p-2">
                                        As a student Co-ordinator of various committees and clubs, I've co-organized many events.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section *ngIf="val == 2">
                        <div class="card border-0">
                            <div class="container col-11">
                                <h3 class="topic p-2"><strong>Developer</strong></h3>
                                <ul class="bulletin">
                                    <li class="p-2">
                                        I had a chance to reveal my skills by developing a website for a client.
                                    </li>
                                    <li class="p-2">
                                        I have a good experience in developing various web applications with Angular, NestJS, Flask, etc.,  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section *ngIf="val == 3">
                        <div class="card border-0">
                            <div class="container col-11">
                                <h3 class="topic p-2"><strong>Work</strong></h3>
                                <ul class="bulletin">
                                    <li class="p-2">
                                        As an intern at <a href="https://skaas.guru/" class="topic">SKaaS Tech</a>, Bangalore, I have hands-on experience in developing responsive web designs and used various media devices, JS APIs and frameworks such as Angular.
                                    </li>
                                    <li class="p-2">
                                        Working as a software engineer intern at <a href="https://www.expertrec.com/" class="topic">Cloud Bash</a>, Bangalore, where I have played with DOM elements, event listeners and various frameworks.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</section>

<!-- ==== Contact ================================================================================================= -->

<section id="contact" class="mb-5">
    <div class="container mt-5">
        <div class="row mt-5 mb-5 justify-content-center">
            <h2><strong>GET IN TOUCH</strong></h2>
        </div>
        <div class="container text-center lang">
            <p class="col-11 mx-auto">
                Talk to me about a project collaboration or just say hi, by clicking the button below or send an email to 
                <small><strong><a href="mailto:amirtha4501@gmail.com" class="topic">amirtha4501@gmail.com</a></strong></small>
            </p>
            <span class="icons">
                <a class="nav-link" href="https://api.whatsapp.com/send?phone=919095999111" target="_blank">
                    <i class="fab fa-whatsapp text-white btn-icons rounded p-3 pl-5 pr-5"><strong><small>&nbsp;&nbsp;Say hi!</small></strong></i>
                </a>
            </span>
        </div>
    </div>
</section>

<!-- ==== Footer ================================================================================================== -->

<footer class="mx-auto">

    <div class="container-fluid">
        <span class="row justify-content-center mt-4 pt-4">
    
            <span class="icons"> 
                <a class="nav-link" href="https://stackoverflow.com/users/11783153/amirtha" target="_blank" title="StackOverflow">
                    <i class="fab fa-stack-overflow"></i>
                </a>
            </span>
        
            <span class="icons">
                <a class="nav-link" href="https://www.hackerrank.com/amirtha4501" target="_blank" title="Hackerrank">
                    <i class="fab fa-hackerrank"></i>
                </a>
            </span>
        
            <span class="icons">
                <a class="nav-link" href="https://www.linkedin.com/in/amirtha-easwaran" target="_blank" title="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
            </span>
        
            <span class="icons">
                <a class="nav-link" href="https://github.com/amirtha4501" target="_blank" title="GitHub">
                    <i class="fab fa-github"></i>
                </a>
            </span>
        
            <span class="icons">
                <a class="nav-link" href="https://www.kaggle.com/amirthaeaswaran" target="_blank" title="Kaggle">
                    <i class="fab fa-kaggle"></i>
                </a>
            </span>
        
        </span>
    </div>

    <div class="container-fluid">
        <span class="pb-2 row justify-content-center">
            <a routerLink='/' class="topic">© 2020 Amirtha</a>
        </span>
    </div>
</footer>
