<section>
    <div class="col-3">
        <nav orientation="left" class="navbar bg-white p-0 rounded flex-column">
            <a href="" class="nav-link" aria-label="GitHub">
                <i class="fa fa-github" style="font-size:24px"></i>
            </a>
            <a href="" class="nav-link" aria-label="LinkedIn">
                <i class="fa fa-linkedin-square" style="font-size:24px"></i>
            </a>
            <a href="mailto:amirtha4501@gmail.com" class="nav-link" aria-label="Mail">
                <i class="fa fa-envelope-o" style="font-size:24px"></i>
            </a>
        </nav>
    </div>
    <div>
        <h1>Welcome to Amirtha's Website!</h1>
        <h3>The full-stack web developer</h3>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>